.navbar-brand{
  color: white!important;
}

.notifications-nav-container {
  position: relative;
  margin: 0!important;
}
.notifications-nav-button {
  position: relative;
  cursor: pointer;
  margin-top: 2px;
  margin-left: 5px;
  width: 26px;
  top: 6px;
}
.notifications-nav-button-head{
  display: none;
}
.danger{
  margin-top: 6px;
  padding-left: 50px;
  padding-right: 50px;
}
.btn-danger-head{
  display: none;

}
@media screen and (max-width:768px){
  .navbar-toggle {
    float: left;
  }
  .navbar-brand {
    position: absolute;
    left: 42%;
}
.notifications-nav-container{
  display: none;
}
.notifications-nav-button-head{
  display: inline;
  position: relative;
  cursor: pointer;
  margin-top: 2px;
  margin-right: 8px;
  width: 26px;
  top: 6px;
  float: right;
}
.date,.subcription,.Fir-id{
        margin-left: 4rem!important;
}
.btn-danger-head{
  display: inline;
  float: right;
  margin-top: 6px;
  margin-right: 13px;
  padding-left: 30px;
  padding-right: 30px;
}
}
@media screen and (max-width:640px){
  .navbar-brand {
    position: absolute;
    left: 41%;
  }
}

@media screen and (max-width:600px){
.navbar-brand {
  position: absolute;
  left: 40%;
}
}
@media screen and (max-width:500px){
  .navbar-brand {
    position: absolute;
    left: 37%;
}
}
@media screen and (max-width: 320px){
.navbar-brand {
    position: absolute;
    left: 32%;
}
}
@media screen and (max-width: 375px){
.navbar-brand {
    position: absolute;
    left: 36%;
}
}
@media screen and (max-width: 355px){
button{
  width: 95px;
}
}
.container{
  max-width:1300px;
  height: 100%;
  padding-left:15px;
  padding-right: 15px;
  padding: 0;
}
.case-body{
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  box-shadow: 0 0 10px #ccc;
  border: 1px solid #c4c4c4;
}
.title{
  font-weight: bolder;
  font-size: 20px;
  margin-left: -5%;
}
 .place, .Personal-details, .others, .occurrence, .details{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 15px;
}
.sign{
  text-align: right;
  margin-right: 10%;
  text-decoration: overline;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
}
.btn2{
  background-color: red;
     margin: 0;
  position: absolute;
  top: 95%;
  left: 70%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn2:hover{
  background-color: #b30000;
}
.btn1{
  background-color: green;
     margin: 0;
  position: absolute;
  top: 95%;
  left: 30%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn1:hover{
  background-color: #06623b;
}
button[type ='submit']{
  width: 110px;
  height: 30px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  border-color: transparent;
}

#reason{
  float: right;
  margin-right: 45px;
  background-color: #2e5baa;
  color: #fff;
  border-color: transparent;
  border-radius: 4px;
}
#note{
  float:right;
  color: red;
  margin-right: 10px;
}
.date,.subcription,.Fir-id{
        margin-left: 12rem;
}