<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form action="reset_password" method="POST">
        {% csrf_token %}
        <label> Enter Previous Password</label><input type="password" name="ppass"><br>
        <label> Enter New Password</label><input type="password" name="npass"><br>
        <label> Enter Previous Password</label><input type="password" name="cnpass"><br>
        <input type="submit">
        {% for message in messages %}
        <h3> {{message}}</h3>
        {% endfor %}

    </form>
</body>
</html>