{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register Complaint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <link href="{% static 'css/rg.css' %}" rel='stylesheet' type='text/css' media="all">
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.7.1/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Latest compiled and minified CSS -->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <!-- for modal-->
    <meta charset="utf-8">
    <meta name="viewport" content=
            "width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="viewport" content=
            "width=device-width, initial-scale=1,shrink-to-fit=no">


    <style type="text/css">
		.required {
			  color: red;
		}
.form-group {

    width: 100%!important;
}
    .chat .party {
	font-weight: bold;
}
.chat .you {
	color: red;
}
.chat .other {
	color: blue;
}
.input a:hover {
	background-color: #ddd;
	cursor: pointer;
}
.chat div {
	margin: 10px 12px 15px;
	line-height: 20px;
}
@media screen and (max-width:600px){
.centers{
    position: relative;
    left: 70px;
}
.chat{
width:57%!important;
}
}

    </style>
</head>
<body style="background-color:#FFF8DC; width: 100%;" >
<nav class="navbar navbar-inverse" style = "width: 100%;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="clienthome">FIRLOGY</a>
            <li class="dropdown abra">
                <a class="dropdown-toggle uriba" data-toggle="dropdown"><img
                        src="{% static 'images/notification_icon_rollover-8605696c9793c070a6ba19a4e8a99c6c.svg' %}"
                        class="notifications-nav-button-head "></a>
                <ul class="dropdown-menu asea  tara">
                    <li><a href="#">your profile is been accepted </a></li>
                    <li><a href="#">You have changed your passwoord</a></li>
                </ul>
            </li>


            <li class="dropdown abra">
                <a class="dropdown-toggle uriba" data-toggle="dropdown">
                    <button type="button" class="btn btn-danger btn-danger-head">SOS</button>
                </a>
                <ul class="dropdown-menu asea icn">
                    <li><a href="tel:7903811515"><i class="fa fa-phone" style="font-size:20px" aria-hidden="true">
                        Police </i></a></li>
                    <li><a href="tel:7205237804"><i class="fa fa-phone" style="font-size:20px" aria-hidden="true">
                        Ambulance</i></a></li>
                </ul>
            </li>


        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <div class="notifications-nav-container">
                    <li class="dropdown abra">
                        <a class="dropdown-toggle uriba" data-toggle="dropdown">
                            <button type="button" class="btn btn-danger danger">SOS</button>
                        </a>
                        <ul class="dropdown-menu asea icn">
                            <li><a href="tel:7903811515">Police +91 7903811515</a></li>
                            <li><a href="tel:7205237804">Ambulance +91 7205237804</a></li>
                        </ul>
                    </li>

                    <li class="dropdown abra">
                        <a class="dropdown-toggle uriba" data-toggle="dropdown"><img
                                src="{% static 'images/notification_icon_rollover-8605696c9793c070a6ba19a4e8a99c6c.svg' %}"
                                class="notifications-nav-button ">
                        </a>
                        <ul class="dropdown-menu asea">
                            <li><a href="#">your profile is been accepted </a></li>
                            <li><a href="#">You have changed your passwoord</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% if name %}Welcome {{name}} {% endif %}<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="userprofile">Profile</a></li>
                        <li><a href="resetpwd">Change password</a></li>
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col">


            <form method = "post" class="text-center" id="register" enctype="multipart/form-data">
                {% csrf_token %}
                <b><h1 style="font-family: 'Cinzel', serif; font-weight: bold;width: 100%;">FIR Registration Form</h1></b>


                <div class="form-group row">
                    <label for="inlineRadio1" class="col-sm-3 col-form-label">FIR for <span
                            class="required">*</span></label>

                    <div class="col-sm-2">
                        <div class="form-check form-check-inline" >
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                   value="myself" checked>
                            <label class="form-check-label" for="inlineRadio1">Myself</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                   value="others">
                            <label class="form-check-label" for="inlineRadio2">Others</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row validate-input" data-validate="This field is required" id="myself-register">
                    <label for="inputfhn" class="col-sm-3 col-form-label"><span class="required"
                                                                                id="fhn"></span></label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputfhn" placeholder="Father's/Husband's Name *"  name="forhname" >
                        <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                    </div>
                </div>

                <div id="others-register">
                    <div class="form-group row validate-input" data-validate="This filed is required">
                        <label for="inputRelation" class="col-sm-3 col-form-label"><span
                                class="required"></span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="inputRelation" placeholder="Relation *" name="orelation">
                            <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="inputName" class="col-sm-3 col-form-label"><span class="required"></span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="inputName" placeholder="Victim's Name *"  name="ovictim" >
                            <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
                        </div>
                    </div>


                    <div class="form-group row valiadte-input" data-validate="This field is required">
                        <label for="inlineRadio3" class="col-sm-3 col-form-label">Victim's Gender <span
                                class="required">*</span></label>
                        <div class="col-sm-3">
                            <div class="form-check form-check-inline" style="right: 8px;position: relative;">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3"
                                       value="option1" >
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio4"
                                       value="option2">
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio5"
                                       value="option3">
                                <label class="form-check-label" for="inlineRadio3">Others</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row valiadte-input" data-validate="This field is reqiured"
                         style="border-radius: 20px;">
                        <label for="inputAge" class="col-sm-3 col-form-label"><span class="required"></span></label>
                        <div class="col-sm-7">
                            <input type="number" name="age"  class="form-control" id="inputAge" placeholder="Vic`t`im's Age *" style=" background-color: #E8E8E8;
     border-radius: 20px;
     text-decoration-color: black;
     height: 45px;">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>   <!--other register-->


                <div class="form-group row">
                    <label for="inputState" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-7">
                        <select style="background-color: #E8E8E8; border-radius: 20px; text-decoration-color: black; height: 45px; "
                                name="state" class="form-control" id="stateSel" size="1" >
                            <option value="" selected="selected">Select State</option>
                        </select>
                        <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                    </div>

                    <div id="show_error"></div>

                </div>


                <div class="form-group row">
                    <label for="inputDistrict" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-7">
                        <select class="form-control" id="districtSel" size="1" name="city"
                                style="background-color: #E8E8E8; border-radius: 20px; text-decoration-color: black; height: 45px;" required="on">
                            <option value="" selected="selected">Select District</option>
                        </select>

                        <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                    </div>
                    <div id="show_error"></div>
                </div>


                <div class="form-group row">
                    <label for="inputPolice" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-7">
                        <select id="policeSel" class="form-control" size="1" name="police_station"
                                style="background-color: #E8E8E8; border-radius: 20px; text-decoration-color: black; height: 45px;" required="on">
                            <option value="" selected="selected">Select Police Station</option>
                        </select>
                        <i class="fa fa-user-secret fa-lg" aria-hidden="true"></i>
                    </div>

                    <div id="show_error"></div>

                </div>


                <div class="form-group row">
                    <label for="inputDate" class="col-sm-3 col-form-label"><span class="required"></span></label>
                    <div class="col-sm-7 validate-input" data-valiadte="This is required">
                        <input type="Date" name="date" class="form-control" id="inputDate" placeholder="Date *" style="border-radius:20px;background-color: #E8E8E8;
     height: 45px;" required="on">
                        <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="inputTime" class="col-sm-3 col-form-label"><span class="required"></span></label>
                    <div class="col-sm-7">
                        <input type="Time" class="form-control" id="inputTime" placeholder="Time *"   name="time" style=" background-color: #E8E8E8;
     border-radius: 20px;
     text-decoration-color: black;
     height: 45px;" required="on">
                        <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="inputComplain" class="col-sm-3 col-form-label"><span class="required"></span></label>
                    <div class="col-sm-7">
                        <textarea type="text" class="form-control" id="inputComplain" name="complaint"
                                  placeholder="Complain *" required="on" style="    height: 12rem;"></textarea>
                        <i class="fa fa-list fa-lg" aria-hidden="true"></i>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="inputAccused" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-7">
                        <textarea type="text" class="form-control" id="inputAccused" name="doa" required="on"
                                  placeholder="Description of Accused" style="    height: 12rem;"></textarea>
                        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                    </div>
                </div>


<!--                <div class="form-group row">-->
<!--                    <label for="inputCriminals" class="col-sm-3 col-form-label"></label>-->
<!--                    <div class="col-sm-7">-->
<!--                        &lt;!&ndash;  <textarea type="file" class="form-control" id="inputCriminals" disabled="textarea" placeholder="Suspected Criminals"></textarea>-->
<!--                          <i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i>&ndash;&gt;-->
<!--                        <label>Check the Frequent Offenders for flagging suspected criminals</label>&nbsp;-->
<!--                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"-->
<!--                                data-target=".bd-example-modal-lg">Choose-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->


                <!-- Large modal -->


                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">


                            <div class="card-deck">
                                <div class="card">
                                    <img class="card-img-top" src="{% static 'images/img1.jpg' %}" alt="Card image cap">
                                    <div class="card-block">
                                        <h4 class="card-title">Criminal 1</h4>
                                        <p class="card-text">
                                            This is a longer card with supporting
                                            text below as a natural lead-in.
                                        </p>
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target=".bd-example-modal-lg">select
                                        </button>
                                    </div>
                                </div>

                                <div class="card">
                                    <img class="card-img-top" src="{% static 'images/img2.jpg' %}">
                                    <div class="card-block">
                                        <h4 class="card-title">Criminal 2</h4>
                                        <p class="card-text">
                                            This card has supporting text below
                                            as a natural lead-in to additional
                                            content.
                                        </p>
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target=".bd-example-modal-lg">select
                                        </button>
                                    </div>
                                </div>

                                <div class="card">
                                    <img class="card-img-top" src="{% static 'images/img3.jpg' %}">
                                    <div class="card-block">
                                        <h4 class="card-title">Criminal 3</h4>
                                        <p class="card-text">
                                            This is a wider card with supporting
                                            text below as a natural lead-in.
                                        </p>
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target=".bd-example-modal-lg">select
                                        </button>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="{% static 'images/img4.jpg' %}">
                                    <div class="card-block">
                                        <h4 class="card-title">Criminal 4</h4>
                                        <p class="card-text">
                                            This is a wider card with supporting
                                            text below as a natural lead-in.
                                        </p>
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target=".bd-example-modal-lg">select
                                        </button>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="{% static 'images/img5.jpg' %}">
                                    <div class="card-block">
                                        <h4 class="card-title">Criminal 5</h4>
                                        <p class="card-text">
                                            This is a wider card with supporting
                                            text below as a natural lead-in.
                                        </p>
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target=".bd-example-modal-lg">select
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="inputDetails" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-7">
                        <input type="file" class="form-control" id="inputDetails" name="evidence" placeholder="Suplimentary Details"
                               style=" background-color: #E8E8E8;
     border-radius: 20px;
     text-decoration-color: black;
     height: 45px;" multiple>
                        <i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i>
                    </div>
                </div>


                <div class="form-group row upl">
                    <div class="col text-center">
                        <div class="btn">
                            <button type="submit" class="centers">Upload your signature</button>
                        </div>
                    </div>
                </div>
         </form>



        </div> <!--col-->
    </div> <!-- row-->
</div> <!--con div-->
</div>

<div style="position: absolute; overflow: auto; z-index: 1000000; top: 56rem;left: 126rem">
<button type="button" style="float: right;    border-radius: 7rem; background-color: white; border: transparent; margin-right: 2rem; position: fixed; bottom: 1rem!important; right: -29px!important;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  <img src="{% static 'images/Facebook_Messenger_logo.jpg' %}" style="width:100px;height:100px;    border-radius: 7rem;" >
</button></div>

<div style="position: absolute; overflow: auto; z-index: 1000000; top: 56rem;left: 126rem">
<button type="button" style="float: right;    border-radius: 7rem; background-color: white; border: transparent; margin-right: 2rem; position: fixed; bottom: 1rem!important; right: -29px!important;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  <img src="{% static 'images/Facebook_Messenger_logo.jpg' %}" style="width:100px;height:100px;    border-radius: 7rem;" >
</button></div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-side modal-bottom-right " role="document" style="margin-right: 0;">
    <div class="modal-content">
      <div class="modal-header">

      </div>
      <div class="modal-body">
        <div class="container vinit" style="width: 600px;margin: -59px auto 20px;text-align: left;">
			<h1 class="title" style="font-size: 30px;font-weight: bold;font-family: 'Courier New', Monospace;text-shadow: #ccc 2px 2px 1px;padding-bottom: 5px;">chat-bot</h1>
			<div class="chat" style="width: 95%;border: 1px solid #ccc;height: 400px;overflow-y: scroll;background-color: white;border-radius: 10px 0 0 0;"></div>
			<div class="busy" style="position: absolute;padding: 3px 0;color: #666;display: none;font-size: 11px;"></div>
			<div class="input" style="margin-top: 20px;">
				<input type="text" placeholder="Chat with me!" style="vertical-align: top;float: left;border: 1px solid #ccc;padding: 5px;width: 480px;margin: 0;border-radius: 5px;width: auto;"/>
				<a style="margin-right: 3rem;vertical-align: top;float: right;font-weight: bold;border: 1px solid #ccc;background-color: #efefef;padding: 7px 35px;color: black;text-decoration: none;border-radius: 5px;">Send</a>
			</div>
		</div>
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="float:left;">Close</button>
      </div>
      </div>
    </div>
  </div>
</div>

<script src="(%  static 'js/register.js' %)"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.7.2.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/chat-bot.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/chatbot_index.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function() {
        $("#others-register").hide();
			$("#inlineRadio2").click(function(){
				$("#others-register").show();
				$("#myself-register").hide();
			});
			$("#inlineRadio1").click(function(){
				$("#others-register").hide();
				$("#myself-register").show();
			});
      $("#register").validate();
		});



     var stateObject = {
"Andaman and Nicobar": {
"Nicobar": ["Police Station Nancowrie", "Police Station Campbellbay"],
"North and Middle Andaman": ["Police Station Rangat", "Police Station Diglipur", "Police Station Mayabunder"],
"South Andaman": ["Police Station Aberdeen", "Police Station Neil Island"]
},
"Andhra Pradesh": {
"Krishna": ["Police Station Agiripalli", "Police Station Chandarlapadu", "Police Station Kalidindi"],
"Srikakulam": ["Tekkali Police Station", "Rajam Police Station"],
"Visakhapatnam": ["Pendurthi Police Station", "Gajuwaka Police Station", "Visakhapatnam Police Station"],
"Vizianagaram": ["Bhogapuram Police Station", "Kothavalasa Police Station"]
},
"Arunachal Pradesh": {
"Changlang": ["Changlang Police Station", "Diyum Police Station"],
"Lohit": ["Mahadevpur Police Station", "Tezu Police Station"],
"Papum Pare": ["Itanagar Police Station", "Sagalee Police Station"]
},
"Assam": {
"Baksa": ["Police station Barkhopa", "Barama Police Station"],
"Barpeta": ["Patacharkuchi Police Station", "Barpeta Police Station"],
"Chirang": ["Dhaligaon Police Station", "Bijni Police Station"]
},
"Bihar": {
"Buxar": ["Dumraon Police Station", "Brahampur Police Station"],
"Muzaffarpur": ["Muzaffarpur Police Station", "Aurai Police Station"],
"Patna": ["Danapur Police Station", "Kankarbagh Police Station"]
},
"Chandigarh": {
"Chandigarh": ["Police Station Manimajra", "Chandigarh Police Station Daria"]
},
"Chhattisgarh": {
"Bilaspur": ["Chakrabhatha Police Station", "Seepat Police Station"],
"Durg": ["Pulgaon Police Station", "Durg Police Station"],
"Raigarh": ["Kotwali Police Station", "Sarangarh Police Station"],
"Raipur": ["Urla Police Station", "Amanaka Police Station"]
},
"Dadra and Nagar Haveli and Daman and Diu": {
"Daman": ["Nani Daman Police Station", "Moti Daman Police Station"],
"Diu": ["Diu Police Station", "Vanakbara Coastal Police Station"],
"Dadra and Nagar Haveli": ["Khanwel Police Station", "Silvassa Police Station"]
},
" Delhi": {
"New Delhi": ["Mehrauli Police Station", "Neb Sarai Police Station"],
"South Delhi": ["Kamla Market Police Station", "Connaught Place Police Station"]
},
"Goa": {
"North Goa": ["Calangute Police Station", "Porvorim Police Station"],
"South Goa": ["Margao Town Police Station", "Verna Police Station"]
},
"Gujarat": {
"Ahmedabad": ["Bopal Police Station", "Sardarnagar Police Station"],
"Rajkot": ["Rajkot Police Station", "Gandhigram Police Station"],
"Surat": ["Ved Road Police Station", "Sachin Police Station"]
},
"Haryana": {
"Faridabad": ["Central Faridabad Police Station", "Suraj Kund Police Station"],
"Panipat": ["City Panipat Police Station", "Chandni Bagh Police Station"],
"Sonipat": ["Kharkhoda Police Station", "Kundli Police Station"]
},
"Himachal Pradesh": {
"Kangra": ["Nagrota Bagwan Police Station", "Jawalamukhi Police Station"],
"Mandi": ["Aut Police Station", "Sadar Mandi Police Station"],
"Shimla": ["Chopal Police Station", "New Shimla Police Station"]
},
"Jammu and Kashmir": {
"Jammu": ["Bari Police Station", "Janipur Police Station"],
"Pulwama": ["Pampora Police Station", "Tral Police Station"],
"Srinagar": ["Nishant Police Station", "Nowgam Police Station"]
},
"Jharkhand": {
"Bokaro": ["Bokaro City Police Station", "Chas Police Station"],
"Giridih": ["Muffasil Police Station", "Bariyardih Police Station"],
"Ranchi": ["Ratu Police Station", "Tatisilwai Police Station"]
},
"Karnataka": {
"Ballari": ["Ballari Rural Police Station", "Siruguppa Police Station"],
"Bengaluru Rural": ["Dabaspete Police Station", "Hosakote Police Station"],
"Bengaluru Urban": ["Hebbagodi Police Station", "RajaRajeshwari Nagar Police Station"],
"Mysuru": ["Vidyaranyapuram Police Station", "Metagalli Police Station"]
},
"Kerala": {
"Kannur": ["Kannur Town Police Station", "Mattanur Police Station"],
"Kollam": ["Kollam West Police stationa", "Oachira Police Station"],
"Thiruvananthapuram": ["Peroorkada Police Station", "Venjaramoodu Police Station"]
},
"Ladakh": {
"Kargil": ["District Police Office", "SSP Kargil"],
"Leh": ["Leh Police Station"]
},
"Lakshadweep": {
"Lakshadweep": ["Kavaratti Police Station", "Minicoy Police Station"]
},
"Madhya Pradesh": {
"Agar Malwa": ["AGAR POLICE STATION", "BAROD POLICE STATION"],
"Badwani": ["BADWANI POLICE STATION", "NAGALWADI POLICE STATION"],
"Bhopal": ["GOVINDPURA POLICE STATION", "AISHBAG POLICE STATION"]
},
"Maharashtra": {
"Mumbai City": ["Bandra Police Station", "Worli Police Station"],
"Nashik": ["Nashik Taluka Police Station", "Harsul Police Station"],
"Pune": ["Chaturshringi Police Station", "Vadgaon Maval Police Station"]
},
"Manipur": {
"Bishnupur": ["Bishnupur Police Station", "Moirang Police Station"],
"Imphal East": ["Irilbung Police Station", "Heingang Police Station"],
"Imphal West": ["Lamphel Police Station", "Patsoi Police Station"]
},
"Meghalaya": {
"West Garo Hills": ["Ampati Police Station", "Tura Police Station"],
"West Khasi Hills": ["Mairang Police Station", "Mawlai Police Station"]
},
"Mizoram": {
"Aizawl": ["Aizawl Police Station", "Sialsuk Police Station"],
"Champhai": ["Champhai Police Station", "Saitual Police Station"],
"Mamit": ["Kawrthah Police Station", "Mamit Police Station"]
},
"Nagaland": {
"Dimapur": ["East Dimapur Police Station", "West Dimapur Police Station"],
"Kohima": ["North Kohima Police Station", "South Kohima Police Station"],
"Wokha": ["Wokha Police Station", "Bhandari Police Station"]
},
"Odisha": {
"Balasore": ["Balasore Police Station", "Simulia Police Station"],
"Cuttack": ["Cuttack Police Station", "Choudwar Police Station"],
"Khordha": ["Bhubaneswar Police Station", "Khordha Police Station"]
},
"Puducherry": {
"Karaikal": ["Karaikal Town Police station", "NERAVY POLICE STATION"],
"Pondicherry": ["Mudaliarpet Police Station", "Odiansalai Police Station"],
"Yanam": ["Yanam Police Station"]
},
"Punjab": {
"Amritsar": ["Amritsar Police Station", "Chheharta Police Station"],
"Ludhiana": ["Ludhiana Police Station", " Shahid Bhagat Singh Nagar Police Station"],
"Patiala": ["Patiala", "Sangrur Police Station"]
},
"Rajasthan": {
"Ajmer": ["Ajmer Police Station", "Mangliyawas Police Station"],
"Jodhpur": ["Jodhpur Police Station", "Osian Police Station"],
"Jaipur": ["Jhotwara Police Station", "Kanota Police Station"]
},
"Sikkim": {
"East Sikkim": ["Rhenock Police Station", "Sadar Police Station"],
"North Sikkim": ["Mangan Police Station", "Chungthang Police Station"],
"South Sikkim": ["Melli Police Station", "Namchi Police Station"],
"West Sikkim": ["Jorethang Police Station", "Uttarey Police Station"]
},
"Tamil Nadu": {
"Chennai": ["Triplicane Police Station", "Velachery Police Station"],
"Coimbatore": ["Thondamuthur Police Station", "Thudiyalur Police Station"],
"Nilgiris": ["Aruvankadu Police Station", "Ooty Police Station"]
},
"Telangana": {
"Adilabad": ["Adilabad Police Station", "Mancherial Police Station"],
"Hyderabad": ["Jubilee Hills Police Station", "Mailardevpally Police Station"],
"Medak": ["Medak Police Station", "Tupran Police Station"]
},
"Tripura": {
"Dhalai": ["Ambassa Police Station", "Kamalpur Police Station"],
"Gomati": ["R K Pur Police Station", "Kakraban Police Station"],
"West Tripura": ["West Agartala Police Station", "Lefunga Police Station"]
},
"Uttar Pradesh": {
"Agra": ["Rakabganj Police Station", "New Agra Police Station"],
"Lucknow": ["Madiyaon Police Station", "Gomti Nagar Police Station"],
"Varanasi": ["Lanka Police Station", "Shivpur Police Station"]
},
"Uttarakhand": {
"Dehradun": ["Dehradun Police Station", "Patel Nagar Police Station"],
"Haridwar": ["Haridwar Police Station", "Roorkee Police Station"],
"Nainital": ["Mallital Police Station", "Tallitaal Police Station"]
},
"West Bengal": {
"Darjeeling": ["Kalimpong Police Station", "Naxalbari Police Station"],
"Hooghly": ["Dankuni Police Station", "Arambagh Police Station"],
"Kolkata": ["Park Street Police Station", "Taratala Police Station"]
},
}
window.onload = function () {
var stateSel = document.getElementById("stateSel"),
districtSel = document.getElementById("districtSel"),
policeSel = document.getElementById("policeSel");
for (var state in stateObject) {
stateSel.options[stateSel.options.length] = new Option(state, state);
}
stateSel.onchange = function () {
districtSel.length = 1; // remove all options bar first
policeSel.length = 1; // remove all options bar first
if (this.selectedIndex < 1) return; // done
for (var district in stateObject[this.value]) {
districtSel.options[districtSel.options.length] = new Option(district, district);
}
}
stateSel.onchange(); // reset in case page is reloaded
districtSel.onchange = function () {
policeSel.length = 1; // remove all options bar first
if (this.selectedIndex < 1) return; // done
var police = stateObject[stateSel.value][this.value];
for (var i = 0; i < police.length; i++) {
policeSel.options[policeSel.options.length] = new Option(police[i], police[i]);
}
}
}



</script>
</body>
</html>